html, body {  
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
    
}





.button {
  font-family: Arial, sans-serif;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #6b7074;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 60px 620px;
  font-size: 20px;
}
.signButton{
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; 
}

.inputBox {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.inputBox label {
    flex: 1;
    margin-right: 10px; 
}

.inputBox input {
    flex: 2;
}




header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}